<section>
    <mat-card style="margin: 20px;">
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Entra com seu nome de usuário " [(ngModel)]="name1" name="anyname1">
                </mat-form-field>

                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Entra com seu nome de usuário " [(ngModel)]="name2" name="anyname2">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{name1}}</p>
            <p>{{name2}}</p>
        </mat-card-actions>
    </mat-card>
</section>

<section>
    <mat-card style="margin: 20px;">
        <mat-card-title>
            Formulario de Cliente
        </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Primeiro nome " name="primeiroNome" [(ngModel)]="cl.primeiroNome">
                </mat-form-field>

                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Segundo nome" name="segundoNome" [(ngModel)]="cl.segundoNome">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="cl.endereco">
                </mat-form-field>

            </form>
        </mat-card-content>
        <h4 class="estilo">Resultado</h4>
        <p> Nome: {{cl.primeiroNome}}</p>
        <p> Segundo Nome: {{cl.segundoNome}}</p>
        <p> Endereço: {{cl.endereco}}</p>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</section>
